body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #0d0d0d;
    color: #f0f0f0; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a2e; 
    color: #39ff14; 
    text-align: center;
    padding: 1.5rem;
    border-bottom: 4px solid #ff007f; 
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    background-color: #16213e;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: #ffcc00;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #ff007f;
    text-decoration: underline;
}


div {
    margin: 2rem auto;
    max-width: 1000px;
    padding: 1.5rem;
    background-color: #1a1a2e;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

h2 {
    color: #00ffff;
    font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.8;
}

img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid #ff00ff;
    border-radius: 5px;
}

.gif-title {
    width: 350px; 
    height: auto; 
    vertical-align: middle; 
    margin-right: 10px;
}

nav ul li a:hover {
    transition: 0.3s ease;
    color: black; 
    background-color: #39ff14;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

footer {
    background-color: #16213e;
    color: #f0f0f0;
    text-align: center;
    padding: 0.5rem;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #ff007f;
    font-size: 0.8em;
}

